body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: brown;   
}

.obr{
    display: flex;
    justify-content: center;
}

.obrazky{
    display: flex;
    justify-content: space-around;
}