.page-nadpis{
    
    font-family: 'Středoveka mrdka nejaka';
    position: fixed;
    
    top: 10vh;
    font-size: 5vh;
    background-color: #8a8a8a;
    box-shadow: 0 10px 10px -10px black;  
  }

  body{
    margin: 0;
    /*background-image: url('obrazky/wallaper-gge.jpg');   
    background-image: url('obrazky/background3.png');  */
    background-image: url('../obrazky/wallpaper-new2-TOPHLASKY.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
}