.page-nadpis{
    
    font-family: 'Středoveka mrdka nejaka';
    position: fixed;
    
    top: 10vh;
    font-size: 5vh;
    background-color: #8a8a8a;
    box-shadow: 0 10px 10px -10px black;  
  }

  body{
    font-family: sans-serif;
    margin: 0;
    /*background-image: url('obrazky/wallaper-gge.jpg');   
    background-image: url('obrazky/background3.png');  */
    background-image: url('../obrazky/wallpaper-new2-SINSLAVY.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
}

.content{
  height: 1500px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;    
}

.lane{
  display: flex;
  justify-content: space-around;
}

.lane > div{
  width: 23vw;
  height: 10vh;
   margin: 45px;
}



.offset{
  margin-top: 11vh;
}
/*--VYPISY--*/
.lane img{
  width: 100%;
}

.jedna{
  
}
.dva{

}
.tri{

}
.ctyri{

}
.pet{

}
.sest{

}
/*
.sedm{
  background-image: url('../obrazky/sinslavy-obrazky/wall.png');
}
.osm{
  background-image: url('../obrazky/sinslavy-obrazky/wall.png');
}
.devet{
  background-image: url('../obrazky/sinslavy-obrazky/wall.png');
}
.deset{
  background-image: url('../obrazky/sinslavy-obrazky/wall.png');
}
.jedenact{
  background-image: url('../obrazky/sinslavy-obrazky/wall.png');
}
.dvanact{
  background-image: url('../obrazky/sinslavy-obrazky/wall.png');
}*/










/*--VYPISY-KONEC--*/