
.page-nadpis{
    
    font-family: 'Středoveka mrdka nejaka';
    position: fixed;
   
    top: 10vh;
    font-size: 5vh;
    background-color: #8a8a8a;
    box-shadow: 0 10px 10px -10px black;  
  }